@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

#root {
  min-height: 100%;
  width: 100%;
}

@media print {
  .print-page-break {
    page-break-after: always;
    break-after: page;
  }
  .print\:break-inside-avoid {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
